@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222222;
  color: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
